/* make scrolling smooth */

html {
  scroll-behavior: smooth;
}

/* get rid of padding & sizing on body so header is at top */

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    background-color: #333;
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.navbar-links {
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
    display: block;
    background-color: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
    content: '';
    left: 0;
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
    margin-bottom: 0.2em;
}

.nav-toggle-label span::after {
    top: 7px;
    margin-top: 0.2em;
}

.nav-toggle:checked ~ nav div {
    transform: scale(1, 1);
}


/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 100px; /* Adjust as needed */
    height: auto;
}

.logo h1 {
    font-size: 1.2em;

}

/* navigation list */

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5em 0;
}

/* style all a tags in header and then on hover */

.navbar-links a {
    color: whitesmoke;
    background-color: #333;
    font-size: 2rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}

.navbar-links a:hover, .navbar-links a:focus {
    color: #333;
    background-color: whitesmoke;
    border-radius: 10px;
    outline: none;
}


/* media query for non-mobile nav bar min-width set to width of nav elements such that no text wraps */

@media screen and (min-width: 60rem) {
    
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .logo-img {
        width: 150px; /* Increase size for mobile */
    }

    .logo-title {
        font-size: 1.5em; /* Optional: increase title font size too */
    }
}
