body {
    font-family:"Patrick Hand";
    background-color: #de9a26;
    color: #456689;

}

h1, h2, h3, h4, h5, h6 {
    font-family:"Rationale";
}

h1 {
    font-size:40pt;
}

header {
    text-align: left;
}

h1 {
    text-align: center;
}

/* Hero Section */
#hero, footer {
    color: #267fde;
    border: 2px solid #267fde;
    background-color: #5e533f   ;
    text-align: center;
    padding: 10px;
    font-size: 20pt;
}

#hero img {
    width:100px;
}

/* Bio Section */
#bio {
    text-align: left;
    font-size: 20pt;
}

/* Hobbies */
#hobbies {
    font-size: 20pt;
}

#hobbies ul li:nth-child(2), ul li:nth-child(4) {
    color:red;
}

#hobbies ul li:nth-child(3){
    color: seagreen;
}

/* Gallery */

#gallery {
    border: 2px solid #267fde;
    text-align: center;
    margin-bottom:2rem;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: left;
}

/* Literature */

#lit {
    border: 2px solid #267fde;
    margin-bottom:2rem;
    text-align: center;
}

#lit div {
    padding:2rem;
    max-width:40rem;
    margin:0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

#lit div p:first-child:first-letter {
    color: red;
    float: left;
    background-color: silver;
    font-size:3em;
    padding:0.25em;
    margin-right:0.25em;
    line-height:.65;
    border:4px outset #267fde;
    font-family: "Rationale";
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}   

