body {
    font-family:"Patrick Hand";
    background-color: #de9a26;
    color: #456689;

}

h1, h2, h3, h4, h5, h6 {
    font-family:"Rationale";
}

h1 {
    font-size:40pt;
}

header {
    text-align: left;
}

h1 {
    text-align: center;
}

#hero, footer {
    color: #267fde;
    border: 2px solid #267fde;
    background-color: #5e533f   ;
    text-align: center;
    padding: 10px;
    font-size: 20pt;
}

#hero img {
    width:500px;
}

#bio {
    text-align: left;
    font-size: 20pt;
}

#hobbies {
    font-size: 20pt;
}

#hobbies ul li:nth-child(2), ul li:nth-child(4) {
    color:red;
}

#hobbies ul li:nth-child(3){
    color: seagreen;
}
